# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio 2015/2017 cache/options directory
.vs/

# MSBuild Binary and Structured Log
*.binlog

# NuGet Packages
*.nupkg
packages/

# Entity Framework
*.edmx.diagram
*.edmx.sql

# Backup folder for Package Reference Convert tool in Visual Studio 2017
MigrationBackup/
